:root {
  --color-nave-50: #d3d1fb;
  --color-nave-100: #bfb8f8;
  --color-nave-200: #9c8bf3;
  --color-nave-300: #8164ee;
  --color-nave-400: #7044e7;
  --color-nave-500: #652bdf;
  --color-nave-600: #470ecc;
  --color-nave-700: #330ecc;
  --color-nave-800: #3606a5;
  --color-nave-900: #190167;
  --color-nave-950: #0a0033;
}
