:root {
  --color-pink-50: #fff2fa;
  --color-pink-100: #ffd8f2;
  --color-pink-200: #ffa5e0;
  --color-pink-300: #ff72ce;
  --color-pink-400: #ff3fbd;
  --color-pink-500: #ff0cab;
  --color-pink-600: #d8008d;
  --color-pink-700: #a5006c;
  --color-pink-800: #72004b;
  --color-pink-900: #3f0029;
  --color-pink-950: #260019;
}
