:root {
  --color-whitelabel-50: #f9f5ff;
  --color-whitelabel-100: #f4ebff;
  --color-whitelabel-200: #e9d7fe;
  --color-whitelabel-300: #d6bbfb;
  --color-whitelabel-400: #b692f6;
  --color-whitelabel-500: #9e77ed;
  --color-whitelabel-600: #7f56d9;
  --color-whitelabel-700: #6941c6;
  --color-whitelabel-800: #53389e;
  --color-whitelabel-900: #42307d;
  --color-whitelabel-950: #2c1c5f;
}
